name: Update YouTube Trending

on:
  workflow_dispatch:  # 保留手动触发选项
    inputs:
      message:
        description: '手动触发更新'
        required: false
  schedule:
    - cron: "0 0 * * *"  # 每4小时运行一次

jobs:
  update-youtube:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install google-api-python-client googletrans==4.0.0-rc1 jinja2 tzdata

      - name: Run trending script
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          TZ: 'Asia/Shanghai'
        run: python main.py
        shell: bash

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add us.html hk.html tw.html index.html
          git diff --quiet && git diff --staged --quiet || git commit -m "Update trending videos at $(TZ='Asia/Shanghai' date '+%Y-%m-%d %H:%M:%S')"
          git push
